#hero {
    .content {
        display: flex;
        position: relative;
        min-height: 400px;
        .textbox {
            z-index: 2;
            background-color: $secondary;
            padding: 10px;
            height: max-content;
            margin-top: 90px;
        }
        #hero-img {
            position: absolute;
            left: 150px;
            width: 100%;
        }
    }
}

main {
    margin: 0 auto;
    section {
        display: flex;
        .content {
            width: 67%;
            h2 {
                margin: 0 auto 20px;
            }
        } // end of content

        a.display-img { // wraps around each picture
            margin: 0 50px;
            picture {
                img {
                    object-fit: cover;
                    box-shadow: 0 0 5px 5px rgb(51, 51, 51);
                } // end of img
            } // end of picture
        } // end of a
    } // end of section
} // end of main