// Tutorials Page
// This page has a different structure from all the other pages. 

* {
    box-sizing: border-box;
} 

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: $background-color;

    img { // just keep images from accidentally overflowing
        max-width: 100%;
    }
    main {
        padding-top: 30px;

        #menu-icon { // treat this as an a link
            color: $dark-green;
            font-size: 2.5em;
            margin: 0;
            position: fixed;
            top: 10px;
            right: 15px;
            z-index: 2;
            text-decoration: none;
        } // end #menu-icon
    } // end main

    nav {
        height: 100vh;
        background-color: $primary;
        width: 0px;
        color: white;
        position: absolute;
        overflow-x: hidden;
        transition: width 0.5s;
        
        // holds search bar
        header {
            padding: 5px 15px 5px;
            background-color: $green;

            a {
                text-decoration: none;
                color: white;
                font-size: 1.2em;
                padding-top: 0;
                #touchup {
                    font-style: italic;
                }
            }
        } // end header

        ul {
            padding: 0;
            li {
                padding: 6px;
                list-style-type: none;
                a {
                    padding: 6px;
                    color: white;
                    text-decoration: none;
                } // end a     
                a:hover {
                    background-color: hsl(207, 94%, 60%);
                    border-radius: 5px;
                }
            } // end li
        } // end ul
    } // end nav
}
